<div class="hero-unit">
	<h1>Welcome!</h1>
	<p class="lead">This is just a little spot on the net where you can get to know me and I can practice my coding</p>
</div>

<div class="row-fluid">
	<div class="span7">
		<h3> A bit about me... </h3>
			<p>I was born and raised in Johannesburg, South Africa before moving to Cape Town in the middle of winter of 1997</p>
			<p> Upon completing high school I started my Bachelor of Commerce degree at Rhodes University in the Eastern Cape. Missing the "big city" life I decided to transfer to University of Cape Town where I completed both undergrad and post-grad degrees in Information Systems.</p>
			<p>From then on I dived into the working world to contribute my share (of taxes, blood, sweat and tears ) to the economy.</p>

		<h3> ...and some of my interests </h3>
			<p>On professional level I'm very passionate about technology, business and people and how we can develop systems, applications and processes to help solve problems and pursue exciting opportunities.</p>
			<p>On a personal level I love to engage in thought-provoking discussions with others especially in the areas of technology, business, economics and politics.</p>
			<p>I have a keen interest in staying healthy as well as watching sport (Rugby being top of the list!)</p>
			<p>The travel bug bit me hard when I had an opportunity to go work for 2.5 weeks in San Francisco, California. Since then I've traveled to Thailand (amazing!!) and looking forward to many, many more trips in the future. </p>

	</div>	
</div>



